# Системные файлы IDE и операционной системы
.DS_Store
Thumbs.db
/.zed
# PHPStorm папка настроек
.idea/
# PHPStorm файлы проектов
*.iml
*.sublime-project
*.sublime-workspace
*.vscode/
.cache/
# Лог-файлы и временные данные
*.log
# Файл с переменными окружения
*.env
# Другие файлы окружения (например, .env.production)
.env.*
# Кэши и временные данные
/.phpunit.cache
/public/build
/public/hot
/public/assets/
# Установленные зависимости
/vendor/
# JS-зависимости
/node_modules/
# Laravel временные файлы
/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/bootstrap/cache/*
/storage/app/temp/
/storage/uploads/
/storage/app/public/test-*
/storage/temp/*
/database/seeds/test_data.sql
/database/factories/temp_*
# Базы данных
*.sqlite
*.sqlite3
*.sql
# Тестовые результаты
/tests/_output/
phpunit.result.cache
/coverage/
# Настройки развертывания
.deploy/
.phpactor.json
# Конфигурационные файлы для Homestead
Homestead.json
Homestead.yaml
# Конфиденциальные файлы аутентификации
auth.json
# Логи ошибок при работе с npm и yarn
npm-debug.log
yarn-error.log
pnpm-debug.log
# Настройки для Fleet (если используется)
/.fleet
public_html
/laradock/
